<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Classement</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100" >
        <header class="bg-gray-400 flex justify-start">
            <h1 class="text-8xl font-bold bg-gradient-to-r from-blue-600 to-green-500 inline-block text-transparent bg-clip-text mr-5">SuperFlash</h1>
            <nav class="flex justify-between items-center pt-4">
                <ul
                    class="flex space-x-9 border border-white p-4 rounded-full bg-stone-800 text-white shadow-md mx-auto pl-12 pr-12 pb-3">
                    <li> <a class="text-sm font-bold text-cyan-400 " href="#">ACCUEIL</a></li>
                    <li> <a class="text-sm font-bold hover:text-cyan-200" href="#">PARAMETRE</a></li>
                    <li><a class="text-sm font-bold hover:text-cyan-200" href="/main/deck">FLASHCARDS</a></li>
                    <!-- <li>|</li> -->
                    <li><a class="text-sm font-bold hover:text-cyan-200" href="#">EXPLORER</a></li>
                    <!-- <li>|</li> -->
                    <li id="popupTrigger"><button data-modal-target="authentication-modal"
                            data-modal-toggle="authentication-modal"><svg class="hover:text-cyan-200"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z" />
                            </svg></button>
                    </li>
                </ul>
            </nav>
        </header>


                <!-- Main modal -->
    <div id="authentication-modal"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-8 rounded shadow-md">
        <!-- Contenu de la fenêtre modale -->
        <h2 class="text-2xl font-bold mb-4 text-center">Create a Deck</h2>

        <form method="post" role="form" th:action="@{/main/deck/save}">
            <div class="mb-3">
                <label>Deck Name</label>
                <input id="name" name="name" class="bg-white border rounded w-full py-2 px-3"
                    placeholder="Name of Deck" type="text" />
            </div>

            <div class="mb-3">
                <label>Description</label>
                <input id="Description" name="description" class="bg-white border rounded w-full py-2 px-3"
                    placeholder="Description" type="text" />
            </div>
            <div class="mb-3 flex flex-col">
                <label>Matiere </label>
                <select class="mt-2 p-2" id="matiere" name="matiereId">
                    <option th:each="matiere : ${matieres}" th:value="${matiere.id}">
                        <span th:text="${matiere.name}"></span>
                    </option>
                </select>
            </div>

            <button class="bg-black text-white font-bold py-2 px-4 rounded w-full" type="submit">Add</button>
        </form>
    </div>
</div>

<!-- JavaScript pour gérer l'ouverture et la fermeture de la fenêtre modale -->
<script>
    const modalTrigger = document.querySelector('[data-modal-toggle]');
    const modal = document.getElementById('authentication-modal');

    modalTrigger.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.add('hidden');
        }
    });
</script>
    </body>
</html>