<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<header>
    <nav class="flex justify-between items-center pt-4">
        <ul class="flex space-x-9 p-4 rounded-full bg-stone-800 text-white shadow-md mx-auto pl-12 pr-12 pb-3">
            <li> <a class="text-sm font-bold text-cyan-400 " href="/main">ACCUEIL</a></li>
            <li><a class="text-sm font-bold hover:text-cyan-200" href="/main/deck">FLASHCARDS</a></li>
            <li><a class="text-sm font-bold hover:text-cyan-200" href="/main/deck/explore">EXPLORER</a></li>
            <li><a class="text-sm font-bold hover:text-cyan-200" href="/main/myaccount">MY ACCOUNT</a></li>
            <li id="popupTrigger"><button data-modal-target="createDeck-modal" data-modal-toggle="createDeck-modal"><svg
                        class="hover:text-cyan-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z" />
                    </svg></button>
            </li>

        </ul>
    </nav>
</header>

<body class="bg-gray-100">
    <!-- Main modal -->
    <div id="createDeck-modal"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-50">
        <div class="bg-white p-8 rounded shadow-md">
            <!-- Contenu de la fenêtre modale -->
            <h2 class="text-2xl font-bold mb-4 text-center">Create a Deck</h2>

            <form method="post" role="form" th:action="@{/main/deck/save}">
                <div class="mb-3">
                    <label>Deck Name</label>
                    <input id="name" name="name" class="bg-white border rounded w-full py-2 px-3"
                        placeholder="Name of Deck" type="text" />
                </div>

                <div class="mb-3">
                    <label>Description</label>
                    <input id="Description" name="description" class="bg-white border rounded w-full py-2 px-3"
                        placeholder="Description" type="text" />
                </div>
                <div class="mb-3 flex flex-col">
                    <label>Matiere </label>
                    <select class="mt-2 p-2" id="matiere" name="matiereId">
                        <option th:each="matiere : ${matieres}" th:value="${matiere.id}">
                            <span th:text="${matiere.name}"></span>
                        </option>
                    </select>
                </div>

                <button class="bg-black text-white font-bold py-2 px-4 rounded w-full" type="submit">Add</button>
            </form>
        </div>
    </div>

    <div class=" justify-center flex gap-8 pt-20 flex-wrap">
        <div class="bg-white rounded shadow-md p-8 w-2/5 min-w-[600px]">

            <h2 class="font-bold">Smart revision : </h2>

            <th:block th:if="${smartRev != null}">
                <th:block th:if="${not smartRev.finish and not #lists.isEmpty(smartRev.flashcards)}">
                    <div class="flex justify-between bg-white border w-full p-4 mb-4">

                        <span th:text="${smartRev.deck.name}"></span>

                        <div class="flex gap-2">
                            <a class="flex items-center gap-2 cursor-pointer"
                                th:href="@{/main/flashcard/revision/{revId}/0(revId=${smartRev.id})}">
                                <span class="font-light">START</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                                    <path fill="currentColor" fill-rule="evenodd"
                                        d="m4.25 3l1.166-.624l8 5.333v1.248l-8 5.334l-1.166-.624V3zm1.5 1.401v7.864l5.898-3.932L5.75 4.401z"
                                        clip-rule="evenodd" />
                                </svg></a>
                        </div>
                    </div>

                </th:block>

                <th:block th:unless="${not smartRev.finish and not #lists.isEmpty(smartRev.flashcards)}">
                    <p>No Revision Today</p>
                </th:block>
            </th:block>

            <th:block th:unless="${smartRev != null}">
                <p>No Revision Today</p>
            </th:block>



            <h2 class="font-bold mt-4">Not finished revisions</h2>

            <div class="mt-4" th:each="revision : ${revisions}">


                <div class="flex justify-between bg-white border w-full p-4 mb-4">

                    <span th:text="${revision.deck.name}"></span>

                    <div class="flex gap-2">



                        <a class="flex items-center gap-2 cursor-pointer"
                            th:href="@{/main/flashcard/revision/{revId}/{index}(revId=${revision.id}, index=${revision.lastIndex})}">
                            <span class="font-light">CONTINUE</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="m4.25 3l1.166-.624l8 5.333v1.248l-8 5.334l-1.166-.624V3zm1.5 1.401v7.864l5.898-3.932L5.75 4.401z"
                                    clip-rule="evenodd" />
                            </svg></a>
                    </div>
                </div>
            </div>
            <th:block th:if="${#lists.isEmpty(revisions)}">
                <p>You finished all your started revision</p>
            </th:block>
        </div>

        <div class="bg-white rounded shadow-md p-8 w-2/5 min-w-[600px]">
            <h2 class="text-lg mb-2 text-center">Progression </h2>
            <canvas id="myChart" width="200" height="100"></canvas>
        </div>
    </div>




</body>
<!-- JavaScript pour gérer l'ouverture et la fermeture de la fenêtre modale -->
<script>
    const modalTrigger = document.querySelector('[data-modal-toggle]');
    const modal = document.getElementById('createDeck-modal');

    modalTrigger.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.add('hidden');
        }
    });
</script>




<script>
    fetch('/main/api/progress')
        .then(response => response.json())
        .then(data => {
            const datasets = data.map(item => ({
                label: item.label,
                data: item.values,
                borderColor: item.color,
                borderWidth: 2,
                fill: false
            }));

            console.log(datasets);
            const maxValues = Math.max(...data.map(item => item.values.length));
            const dt = {
                labels: Array.from({ length: maxValues }, (_, i) => (i + 1).toString()),
                datasets: datasets
            };

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: dt,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 100,
                            ticks: {
                                stepSize: 25,
                            }
                        }
                    }
                }
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>