<html>

<head>
    <meta charset="UTF-8">
    <title>Flashcard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>



<header>
    <nav class="flex justify-between items-center pt-4">
        <ul class="flex space-x-9 border border-white p-4 rounded-full bg-stone-800 text-white shadow-md mx-auto pl-12 pr-12 pb-3">
            <li> <a class="text-sm font-bold hover:text-cyan-200 " href="/main">ACCUEIL</a></li>
            <li><a class="text-sm font-bold  text-cyan-400" href="/main/deck">FLASHCARDS</a></li>
            <li><a class="text-sm font-bold hover:text-cyan-200" href="/main/deck/explore">EXPLORER</a></li>
            <li><a class="text-sm font-bold hover:text-cyan-200" href="/main/myaccount">MY ACCOUNT</a></li>
            <li id="popupTrigger"><button data-modal-target="createDeck-modal" data-modal-toggle="createDeck-modal"><svg
                        class="hover:text-cyan-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z" />
                    </svg></button>
            </li>
        </ul>
    </nav>
</header>

<body class="bg-gray-100">
    <!-- Main modal -->
    <div id="createDeck-modal"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-50">
        <div class="bg-white p-8 rounded shadow-md">
            <!-- Contenu de la fenêtre modale -->
            <h2 class="text-2xl font-bold mb-4 text-center">Create a Deck</h2>

            <form method="post" role="form" th:action="@{/main/deck/save}">
                <div class="mb-3">
                    <label>Deck Name</label>
                    <input id="name" name="name" class="bg-white border rounded w-full py-2 px-3"
                        placeholder="Name of Deck" type="text" />
                </div>

                <div class="mb-3">
                    <label>Description</label>
                    <input id="Description" name="description" class="bg-white border rounded w-full py-2 px-3"
                        placeholder="Description" type="text" />
                </div>
                <div class="mb-3 flex flex-col">
                    <label>Matiere </label>
                    <select class="mt-2 p-2" id="matiere" name="matiereId">
                        <option th:each="matiere : ${matieres}" th:value="${matiere.id}">
                            <span th:text="${matiere.name}"></span>
                        </option>
                    </select>
                </div>

                <button class="bg-black text-white font-bold py-2 px-4 rounded w-full" type="submit">Add</button>
            </form>
        </div>
    </div>



    <div class="max-w-[950px] m-auto mt-20">

        <div class="flex items-center justify-between">
            <h1 class="text-4xl font-bold"> FlashCards in <span th:text="${deck.name}"></span> </h1>

            <div class="flex gap-2">
                <div class="mr-4">Statut : <span th:text="${deck.isPublic ? 'public' : 'private'}"></span></div>
                <form method="post" role="form" th:action="@{/main/deck/publish}">
                    <input type="hidden" id="deckId" name="deckId" th:value="${deck.id}" />
                    <button id="makePublic"
                        class="bg-stone-800 text-white rounded flex gap-1 px-2 py-1 items-center cursor-pointer"
                        type="submit">
                        <span th:text="${deck.isPublic ? 'UnShare' : 'Share'}"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="m13.12 17.023l-4.199-2.29a4 4 0 1 1 0-5.465l4.2-2.29a4 4 0 1 1 .958 1.755l-4.2 2.29a4.008 4.008 0 0 1 0 1.954l4.2 2.29a4 4 0 1 1-.959 1.755ZM6 14a2 2 0 1 0 0-4a2 2 0 0 0 0 4Zm11-6a2 2 0 1 0 0-4a2 2 0 0 0 0 4Zm0 12a2 2 0 1 0 0-4a2 2 0 0 0 0 4Z" />
                        </svg>
                    </button>
                </form>
            </div>



        </div>

        <div th:if="${not #lists.isEmpty(flashcards)}">
            <div th:each="flashcard : ${flashcards}" class="mt-8 mb-8 flex flex-col gap-6">
                <div class="bg-white shadow-md rounded-lg w-[75%] flex justify-between p-4 items-center">
                    <div class="flex flex-col gap-4">
                        <span class="font-bold"> QUESTION : <span class="font-light mb-2"
                                th:text="${flashcard.question}">question</span>
                        </span>
                        <span class="font-bold"> REPONSE :
                            <span class="font-light mb-4" th:text="${flashcard.reponse}">reponse</span></span>
                    </div>




                    <div class="flex gap-4">

                        <a th:href="@{/main/flashcard/edit/{id}(id=${flashcard.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M21 12a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1Zm-15 .76V17a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .71-.29l6.92-6.93L21.71 8a1 1 0 0 0 0-1.42l-4.24-4.29a1 1 0 0 0-1.42 0l-2.82 2.83l-6.94 6.93a1 1 0 0 0-.29.71Zm10.76-8.35l2.83 2.83l-1.42 1.42l-2.83-2.83ZM8 13.17l5.93-5.93l2.83 2.83L10.83 16H8Z" />
                            </svg>
                        </a>


                        <button class="btn btn-danger"
                            th:onclick="'javascript:deleteFlashCard(' + ${deck.id} + ',' + ${flashcard.id} + ')'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="red"
                                    d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12M8 9h8v10H8V9m7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5Z" />
                            </svg>
                        </button>
                    </div>


                </div>
            </div>



        </div>


        <div class="mb-8 mt-8" th:if="${#lists.isEmpty(flashcards)}">
            <p>No flashcards available.</p>
        </div>


        <button id="newFlashcard" class="bg-stone-800 text-white rounded flex gap-1 px-2 py-1 items-center mb-16">
            <svg class="hover:text-cyan-200" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z" />
            </svg>
            <span class="font-bold">NEW</span>
        </button>

        <div id="flashcardForm"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-50">
            <div class="bg-white p-8 rounded shadow-md">
                <!-- Contenu de la fenêtre modale -->
                <h2 class="text-2xl font-bold mb-4 text-center">Create a FlashCard</h2>

                <form method="post" role="form" th:action="@{/main/flashcard/save}">
                    <div class="mb-4">
                        <label class="control-label"> Question</label>
                        <input class=" text-stone-800 bg-white border rounded w-full py-2 px-3" type="text"
                            id="question" name="question" placeholder="Enter question" />
                    </div>

                    <div class="mb-4">
                        <label class="control-label"> Reponse</label>
                        <input type="text" id="answer" name="reponse"
                            class=" text-stone-800 bg-white border rounded w-full py-2 px-3"
                            placeholder="Enter answer" />
                    </div>

                    <input type="hidden" id="deckId" name="deckId" th:value="${deck.id}" />

                    <input class="bg-black text-white font-bold py-2 px-4 rounded w-full" type="submit" value="SAVE">
                </form>
            </div>

            <a href="/main/deck" class="btn btn-primary">Back to decks</a>

        </div>
</body>

</html>


<!-- JavaScript pour gérer l'ouverture et la fermeture de la fenêtre modale -->
<script>

    const publicBtn = document.getElementById('makePublic');

    publicBtn.addEventListener('onclick', () => {
        console.log("make public")
    })


    const modalTrigger = document.querySelector('[data-modal-toggle]');
    const modal = document.getElementById('createDeck-modal');

    modalTrigger.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.add('hidden');
        }
    });

    const newFlash = document.getElementById('newFlashcard');
    const flashcardForm = document.getElementById('flashcardForm');

    newFlash.addEventListener('click', () => {
        flashcardForm.classList.remove('hidden');
    });

    flashcardForm.addEventListener('click', (e) => {
        if (e.target === flashcardForm) {
            flashcardForm.classList.add('hidden');
        }
    });

    function deleteFlashCard(deckId, flashcardId) {
        console.log("Deleting flashcard " + flashcardId)

        if (confirm("Are you sure you want to delete this flashcard ?")) {
            // Send a DELETE request using AJAX
            fetch(`/main/flashcard/delete/${deckId}/${flashcardId}`, {
                method: 'GET'
            })
                .then(response => {
                    if (response.ok) {
                        // Handle successful deletion
                        // You can reload the page or update the deck list as needed
                        location.reload();
                    } else {
                        // Handle deletion failure
                        alert('Failed to delete the flashcard.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>